# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ScenesPrefabs.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projekte\SceneTests\ScenesPrefabs\.idea\.idea.ScenesPrefabs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
